{% extends "base.html.twig" %}
{% block title %} {{ titulo }} {% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <div class="container py-5">
        <div class="mb-4">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="w-50 mt-2">

                
                <p>{{ msg }}</p>
                {{ form(form) }}
           
           
        </div>
  </div>
{% endblock %}